Source: ros-humble-event-image-reconstruction-fibar
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@eventvisionresearch.com>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-humble-ament-cmake, ros-humble-ament-cmake-auto, ros-humble-ament-cmake-black <!nocheck>, ros-humble-ament-cmake-clang-format <!nocheck>, ros-humble-ament-cmake-ros, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-cv-bridge, ros-humble-event-camera-codecs, ros-humble-event-camera-msgs, ros-humble-fibar-lib, ros-humble-image-transport, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosbag2-cpp, ros-humble-rosbag2-transport, ros-humble-sensor-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-event-image-reconstruction-fibar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-humble-cv-bridge, ros-humble-event-camera-codecs, ros-humble-event-camera-msgs, ros-humble-fibar-lib, ros-humble-image-transport, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-rosbag2-cpp, ros-humble-rosbag2-transport, ros-humble-sensor-msgs, ros-humble-ros-workspace
Description: ROS package for synchronized image reconstruction from event frames
