Source: ros-jazzy-event-image-reconstruction-fibar
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@eventvisionresearch.com>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-auto, ros-jazzy-ament-cmake-black <!nocheck>, ros-jazzy-ament-cmake-ros, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-cv-bridge, ros-jazzy-event-camera-codecs, ros-jazzy-event-camera-msgs, ros-jazzy-fibar-lib, ros-jazzy-image-transport, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-transport, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-event-image-reconstruction-fibar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-jazzy-cv-bridge, ros-jazzy-event-camera-codecs, ros-jazzy-event-camera-msgs, ros-jazzy-fibar-lib, ros-jazzy-image-transport, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-transport, ros-jazzy-sensor-msgs, ros-jazzy-ros-workspace
Description: ROS package for synchronized image reconstruction from event frames
